<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      defer
      rel="stylesheet"
      type="text/css"
      href="/static/css/index.css?ver={{.Version}}"
    />

    <script defer src="/static/js/index.js?ver={{.Version}}"></script>
  </head>
  <body>
    <section>
      <div class="offering">
        <h2 class="offering__title">2 for 1</h2>
        <p class="offering__text">
          Now offering 2 for 1 marriage special, just type in code
          ISHOULDHAVESPENTMOREMONEY at checkout and your marriage with Rev.
          Pasco will come with a coupon for a free annulment for when your
          marriage comes to an inevitable end fueled by the bitter memory of the
          insanely cheap and rushed weddding ceremony you had and how your
          parents will never forgive you for it!! Call now!!
        </p>
      </div>

      <h1 class="main-header wiggly">877 WED NOW!</h1>
      <ul class="main-header__disclaimer">
        <li>Only works on wednesdays</li>
        <li>
          Dial code 5 for more info on our Wet N Wild Wednesday Weddings at
          Wendys in Wisconsin!
        </li>
      </ul>
      <div class="offering">
        <h2 class="offering__title">
          No Credit? No Mask? <b>Problem!</b> Call Now! (offer expires the
          moment before purchase)
        </h2>
      </div>

      <div class="offering">
        <h2 class="offering__title">anti-masker delight</h2>
        <p class="offering__text">
          Now offering our 2 for 1 anti-masker delight wedding! A lovely wedding
          ceremony followed by the anointing of the sick, free of charge!
        </p>
        <p class="offering__disclaimer">
          (Caskets for display only, functioning ones require additional charges
          and are subject to exhumation/refurbishing. New caskets not
          guaranteed)
        </p>
      </div>

      <div class="offering">
        <h2 class="offering__title">Casket Pool</h2>
        <p class="offering__text">
          Introducing new Casket Pool; for half the price share your eternal
          vessel with someone else and catch a ride to the afterlife together!
          Offer limited to stock
        </p>
      </div>
    </section>
  </body>
</html>
